body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Crimson Text', serif;
	background-image: url(../images/background1.jpg);
}

main {
    flex: 1 0 auto;
}


/*body {
    background-image: url("../images/nasty-woman-pin.jpeg");
    background-repeat: repeat;
}

#quizQuestions {
	font-size: 30px;
	font-family: 'Patrick Hand SC', cursive;
}

#quiz-container {
	max-width: 700px;
	background-color: white;
	padding: 50px;
}

.welcome {
	font-family: 'Patrick Hand SC', cursive;
	font-size: 25px;
}

#button,
.answers {
	color: #ee6179;
}

#button,
#counter,
#correct,
#wrong {
	font-family: 'Patrick Hand SC', cursive;
}*/